pre.file{
    width: 100%;
    border: 1px solid #bbbbbb;
    height: 180px;
    font-size: 12px;
    font-family: monospace;
    background: white;
    padding: 10px;

}
.response .alert{
    margin: .5rem 0;
    font-size: 0.8rem;
    padding: .4rem .6rem;
}
.response .alert code{
    color: whitesmoke;
    padding: 4px 10px;
    border-radius: 4px;
    background: #050505;
}
.connection{
    background: #eee;
    padding: 0px;
    border-right: 1px solid #0e6837;
}
.connection>.top{
    background: #106836;
    color: white;
    padding: 0.6rem 0 0.6rem 1.6rem;
}
.list_actions{
    width: 100%;
    padding: 0.6rem 0 0.6rem 0.6rem;
    margin: 0px;
    background: #f5f5dc;
    border-bottom: 1px solid #0e6837;
}
.list_content{
    min-height: 600px;
    overflow: scroll;
}

