.connection{
    background: #eee;
    padding: 0px;
    border-right: 1px solid #0e6837;
}
.connection>.top{
    background: #106836;
    color: white;
    padding: 0.6rem 0 0.6rem 1.6rem;
}
.list_actions{
    width: 100%;
    padding: 0.6rem 0;
    margin: 0px;
    background: #f5f5dc;
    border-bottom: 1px solid #0e6837;
    position: sticky;
}
.parsed_content{}
.parsed_content .alert{
    margin: .5rem 0;
    font-size: 0.8rem;
    padding: .4rem .6rem;
}
.parsed_content .alert .code{
    color: whitesmoke;
    padding: 4px 10px;
    border-radius: 4px;
    background: #050505;
}
i.status{
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
    border: 4px solid white;
    box-shadow: 0px 0px 1px 1px black;
    background: #FFFFFF;
}
i.status.connected{
    background: green;
}
i.status.disconnected{
    background: #fc6b00;
}
.input_path{
    color: #dddddd;
    border-color: #bbbbbb;
    opacity: 0.5;
}
form.active .input_path{
    color: #0e6837;
    border-color: #0e6837;
    opacity: 1;
}
.btn_emoji{
    border : 1px solid #777;
    border-radius: 4px;
}

.parsed_content .entry{
    padding: 12px 15px;
    background: white;
    border-bottom: 1px solid #daeeea;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.9rem;
}
.entry .entry_name{
    display: inline-block;
    cursor: pointer;
}
.entry .entry_name>i{
    font-size: 0.7rem;
    color: #aaa;
}
.entry.directory .entry_name>span{
    color: #28a745;
}
.entry.file .entry_name>span{
    color: #0e6837;
}
.entry.missing .entry_name{
    color: #dddddd;
    cursor: not-allowed;
}
.parsed_content .file_line{
    height: auto;
    background: white;
    border: 0px;
    font-size: 12px;
    font-family: monospace;
    background: white;
    padding: 0 2px;
}
.parsed_content .file_line>div{
    height: 18px;
    line-height: 18px;
    padding: 0 0 0 5px;
}
.parsed_content .line_info{
    width: 5%;
    float: left;
}
.parsed_content .line_info .line_diff{
    background: #ffeaea;
}
.parsed_content .line_detail{
    width: 94.5%;
    float: right;
}

